body {
    font-size: 1.1rem;
}

code, pre {
    font-size: 1.1rem;
}

.header {
    background: url(../images/blue-black-digital-binary-technology-hero-header.jpg) center center fixed;
    position: relative;
    width: 100%;
    height: 600px;
}

.header:before {
    content: "";
    opacity: 0.5;
    background-color: #3a6da4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header .header-inner-container {
    position: relative;
    z-index: 100;
}

.text-bold {
    font-weight: 500;
}