/* Base typography size */
html {
    font-size: 62.5%; /* =10px */
}

/* Body */
body {
    color: #000;
    font: normal 300 1.6rem/2.8rem 'Merriweather', Arial, serif;
}

/* Heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 5rem;
    line-height: 6rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

h3 {
    font-size: 2.8rem;
    line-height: 3.8rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h5 {
    font-size: 2rem;
    line-height: 3rem;
}

h6 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

/* Paragraphs */
p {
    margin: 0 0 2rem 0;
}

/* Links */
a:link, a:visited, a:active, a:focus {
    color: #006abe;
    text-decoration: none;
}

a:hover {
    color: #00ccff;
}

/* Responsive images */
.responsive-img {
    height: auto;
    max-width: 100%;
}

/* Container (centers wrapped elements) */
.container {
    margin: 0 auto;
    width: 65%;
}

/* Logo */
.logo {

}

/* Navbar */
nav {
    background: #000;
    padding: 30px 0;
}

nav ul.main-navigation {
    list-style: none;
    margin: 15px 0;
}

/*
@media only screen and (min-width: 1200px) {
    nav ul.main-navigation {
        margin: 25px 0 0 20px;
    }
}
*/

nav ul.main-navigation li {
    float: left;
    margin-right: 20px;
}

nav ul.main-navigation li a:link, nav ul.main-navigation li a:visited, nav ul.main-navigation li a:active, nav ul.main-navigation li a:focus {
    color: #fff;
    font: normal 400 1.8rem/2.8rem 'Roboto', Arial, sans-serif;
    display: block;
    font-weight: 400;
    padding: 10px 0 10px 0;
    text-decoration: none;
}

nav ul.main-navigation li a:hover {
    color: #00ccff;
}

nav ul.social-media-navigation {
    list-style: none;
    margin-top: 10px;
    overflow: hidden;
}

nav ul.social-media-navigation li {
    float: left;
}

/* Social icons */
.squared-icon-bw {
    display: inline-table;
    width: 64px;
    height: 64px;
}

.squared-icon-bw:hover {
    background-position-x: -64px;
}

.squared-twitter-icon-bw {
    background: transparent url("../images/twitter-icon-squared-bw.png") 0 0 no-repeat;
}

.squared-facebook-icon-bw {
    background: transparent url("../images/facebook-icon-squared-bw.png") 0 0 no-repeat;
}

.squared-linkedin-icon-bw {
    background: transparent url("../images/linkedin-icon-squared-bw.png") 0 0 no-repeat;
}

.squared-github-icon-bw {
    background: transparent url("../images/github-icon-squared-bw.png") 0 0 no-repeat;
}

.squared-icon {
    display: inline-table;
    width: 48px;
    height: 48px;
}

.squared-icon:hover {
    background-position-x: -48px;
}

.squared-twitter-icon {
    background: transparent url("../images/twitter-icon-squared.png") 0 0 no-repeat;

}

.squared-facebook-icon {
    background: transparent url("../images/facebook-icon-squared.png") 0 0 no-repeat;
}

.squared-linkedin-icon {
    background: transparent url("../images/linkedin-icon-squared.png") 0 0 no-repeat;
}

.squared-googleplus-icon {
    background: transparent url("../images/googleplus-icon-squared.png") 0 0 no-repeat;
}

.squared-github-icon {
    background: transparent url("../images/github-icon-squared.png") 0 0 no-repeat;
}

/* Sections */
section {

}

.section-title {
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0 0 2rem 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

/* Panels */
.panel {
    margin-bottom: 50px;
}

/* Header */
.header {
    background: #000;
    height: 400px;
    padding-top: 80px;
}

.page-title {
    color: #fff;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 7rem;
    margin: 0 0 2rem 0;
}

.page-subtitle {
    color: #eee;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;
    margin: 0 0 4rem 0;
}

/* Main content */
.main-content {
    padding: 80px 0 40px 0;
}

@media only screen and (min-width: 1200px) {
    .main-content {
        border-right: 1px solid #eee;
        padding: 80px 40px 40px 0;
    }
}

/* Aside */
aside {
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    aside {
        padding: 80px 0 40px 40px;
    }
}

/* Posts */
.post {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.post-title {
    margin: 0 0 3rem 0;
}

.post-title a:link, .post-title a:visited, .post-title a:active, .post-title a:focus {
    color: #006abe;
    transition: 0.3s;
}

.post-title a:hover {
    color: #00ccff;
    text-decoration: none;
}

.post ul.social-media-navigation {
    list-style: none;
    margin: 0 0 2rem 0;
    overflow: hidden;
}

.post ul.social-media-navigation li {
    float: left;
    margin-right: 10px;
}

.post-intro {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.post-meta {
    background: #eef2ff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: -1rem 0 2rem 0;
    padding: 40px 20px 40px 20px;
}

.post-author {
    font-weight: 700;
    position: relative;
}

/*
.post-author:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/
.post-date {
    font-weight: 700;
    margin-left: 10px;
    position: relative;
}

/*
.post-date:before {
    color: #000;
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}

*/
.post-category {
    font-weight: 700; 
    margin-left: 10px;
    position: relative;
}

/*
.post-category:before {
    color: #000;
    content: "\f02c";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/

/*
.post-comments {
    position: relative;
    padding: 0 0 0 25px;
}

.post-comments:before {
    color: #000;
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/

/* Biography */
.biography-title {
    font-size: 1.8rem;
}

.biography-img {
    margin-bottom: 2rem;
}

/* Featured posts */
ul.featured-posts {
    list-style: none;
    margin: 0;
}

ul.featured-posts li {
    border-bottom: 1px dotted #eee;
    padding: 10px 0 10px 0;
    margin: 0;
}

.featured-post-title {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    margin-bottom: 1rem;
}

.featured-post-category {
    margin-left: 10px;
}

/* Categories */
ul.categories {
    list-style: none;
    margin: 0;
}

ul.categories li {
    border-bottom: 1px dotted #eee;
    padding: 5px 0 10px 0;
    margin: 0 0 1rem 0;
}

.categories a:link, .categories a:visited, .categories a:active, .categories a:focus {
    color: #006abe;
}

.categories a:hover {
    color: #00b0ff;
}

/* Footer */
footer {
    background: #000;
    padding: 60px 0 40px 0;
}

footer ul.copyrightinfo {
    list-style: none;
    margin-top: 10px;
}

footer ul.copyrightinfo li {
    border-right: 1px solid #fff;
    font: normal 400 1.8rem/2.8rem 'Roboto', Arial, sans-serif;
    color: #fff;
    float: left;
    margin-right: 15px;
    padding-right: 20px;
}

@media only screen and (min-width: 1200px) {
    footer ul.copyrightinfo li {
        line-height: 1.8rem;
    }
}

footer ul.copyrightinfo li:last-child {
    border: none;
}

footer ul.social-media-navigation {
    list-style: none;
}

footer ul.social-media-navigation li {
    float: left;
}

@media only screen and (min-width: 1200px) {
    footer ul.social-media-navigation {
        margin-top: -12px;
    }
}

/* Buttons */
.btn {
    background: #29587a !important;
    color: #fff !important;
    display: inline-table;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    line-height: 2.6rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none !important;
}

.btn:hover {
    background: #00ccff !important;
}
