/* Base typography size */
html {
    font-size: 62.5%; /* =10px */
}

/* Body */
body {
    color: #000;
    font: normal 300 2rem/3rem 'Libre Franklin', Arial, sans-serif;
}

/* Heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    margin: 3rem 0 1rem 0;
}

h1 {
    font-size: 5rem;
    line-height: 6rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

h3 {
    font-size: 3.2rem;
    line-height: 4.2rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h5 {
    font-size: 2rem;
    line-height: 3rem;
}

h6 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

/* Paragraphs */
p {
    margin: 0 0 2rem 0;
}

/* Links */
a:link, a:visited, a:active, a:focus {
    color: #6da9eb;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #6da9eb;
    padding-bottom: 2px;
}

/* Emphasized text */
.bold {
    font-weight: 700;
}

.italicized {
    font-style: italic;
}

/* Lists */
ol {
    counter-reset: item;
    margin: 0 0 2rem 0;
    padding: 0;
}

ol > li {
   margin: 0 0 2rem 0;
   padding: 0 0 0 2rem;
   text-indent: -2rem;
   list-style-type: none;
   counter-increment: item;
}

ol > li:before {
   display: inline-block;
   width: 1em;
   padding-right: 0.5em;
   font-weight: bold;
   text-align: right;
   content: counter(item) ".";
}

/* Code */
code {
    font: normal 400 1.8rem/2.8rem 'Cutive Mono', monospace;
    margin: 0 0 3rem 0;
}

/* Responsive images */
.responsive-image {
    height: auto;
    max-width: 100%;
}

/* Container (centers wrapped elements) */
.container {
    margin: 0 auto;
    width: 70%;
}

/* Logo */
.logo {
    
}

a.logo:hover {
    border: none;
    padding-bottom: 0;
}

/* Navbar */
nav {
    background: #204a84;
    padding: 30px 0;
}

nav ul.main-navigation {
    list-style: none;
    margin: 20px 0;
}

@media only screen and (min-width: 1200px) {
    nav ul.main-navigation {
        margin: 20px 0 0 50px;
    }
}

nav ul.main-navigation > li {
    float: left;
    margin-right: 20px;
}

nav ul.main-navigation > li > a:link, 
nav ul.main-navigation > li > a:visited, 
nav ul.main-navigation > li > a:active, 
nav ul.main-navigation > li > a:focus {
    color: #fff;
    font-weight: 400;
    padding: 10px 0 10px 0;
}

nav ul.main-navigation > li > a:hover {
    border: none;
    color: #eee;
    padding-bottom: 0;
}

nav ul.social-media-navigation {
    list-style: none;
    margin: 10px 0 0 0;
    overflow: hidden;
}

@media only screen and (min-width: 1200px) {
    nav ul.social-media-navigation {
        margin: 8px 0 0 20px;
    }
}

nav ul.social-media-navigation li {
    float: left;
}

/* Social icons */
.squared-icon-social-navigation {
    display: inline-table;
    width: 64px;
    height: 64px;
}

.squared-icon-social-navigation:hover {
    background-position-x: -64px;
    border: none;
    padding-bottom: 0;
}

.squared-twitter-icon-social-navigation {
    background: transparent url("../images/twitter-icon-squared-blue.png") 0 0 no-repeat;
}

.squared-facebook-icon-social-navigation {
    background: transparent url("../images/facebook-icon-squared-blue.png") 0 0 no-repeat;
}

.squared-linkedin-icon-social-navigation {
    background: transparent url("../images/linkedin-icon-squared-blue.png") 0 0 no-repeat;
}

.squared-github-icon-social-navigation {
    background: transparent url("../images/github-icon-squared-blue.png") 0 0 no-repeat;
}

.squared-icon {
    display: inline-table;
    width: 48px;
    height: 48px;
}

.squared-icon:hover {
    background-position-x: -48px;
}

.squared-twitter-icon {
    background: transparent url("../images/twitter-icon-squared.png") 0 0 no-repeat;
}

.squared-facebook-icon {
    background: transparent url("../images/facebook-icon-squared.png") 0 0 no-repeat;
}

.squared-linkedin-icon {
    background: transparent url("../images/linkedin-icon-squared.png") 0 0 no-repeat;
}

.squared-googleplus-icon {
    background: transparent url("../images/googleplus-icon-squared.png") 0 0 no-repeat;
}

.squared-github-icon {
    background: transparent url("../images/github-icon-squared.png") 0 0 no-repeat;
}

/* Sections */
section {

}

.section-title {
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0 0 2rem 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

/* Panels */
.panel {
    margin-bottom: 50px;
}

/* Header */
.header {
    background: #000;
    height: 400px;
    padding-top: 80px;
}

.page-title {
    color: #fff;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 7rem;
    margin: 0 0 2rem 0;
}

.page-subtitle {
    color: #eee;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;
    margin: 0 0 4rem 0;
}

/* Main content */
.main-content {
    padding: 80px 0 40px 0;
}

@media only screen and (min-width: 1200px) {
    .main-content {
        border-right: 1px solid #eee;
        padding: 80px 40px 40px 0;
    }
}

/* Aside */
aside {
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    aside {
        padding: 80px 0 40px 40px;
    }
}

/* Posts */
.post-intro, .post {
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.post-intro-title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 0 0 3rem 0;
}

.post-title {
    font-size: 4.5rem;
    line-height: 5.5rem;
    margin: 0 0 3rem 0;
}

.post-intro-title a:link,
.post-intro-title a:visited, 
.post-intro-title a:active, 
.post-intro-title a:focus {
    color: #000;
}

.post-intro-title a:hover {
    border: none;
    padding-bottom: 0;
}

.post-intro-meta, .post-meta {
    background: #fafafa;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    padding: 30px;
    margin: 0 0 2rem 0;
}

.post-intro-meta ul.social-media-navigation, 
.post-meta ul.social-media-navigation {
    list-style: none;
    margin: 0 0 2rem 0;
    overflow: hidden;
}

.post-intro-meta ul.social-media-navigation > li, 
.post-meta ul.social-media-navigation > li {
    float: left;
    margin-right: 10px;
}

.post-intro-author, .post-author {
    color: #666;
    margin-right: 10px
}

.post-intro-author a:link, 
.post-intro-author a:visited, 
.post-intro-author a:active, 
.post-intro-author a:focus,
.post-author a:link, 
.post-author a:visited, 
.post-author a:active, 
.post-author a:focus {
    
}

.post-intro-author a:hover, 
.post-author a:hover {
    
}

/*
.post-author:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/
.post-intro-image, .post-image {
    margin-bottom: 2rem;
}

.post-intro-date, .post-date {
    color: #666;
    margin-right: 10px;
    position: relative;
}

/*
.post-date:before {
    color: #000;
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/

.post-intro-category, .post-category {
    color: #666;
    position: relative;
}

.post-intro-category a:link, 
.post-intro-category a:visited, 
.post-intro-category a:active, 
.post-intro-category a:focus,
.post-category a:link, 
.post-category a:visited, 
.post-category a:active, 
.post-category a:focus {
    
}

.post-intro-category a:hover, .post-category a:hover {
    
}

/*
.post-category:before {
    color: #000;
    content: "\f02c";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/

/*
.post-comments {
    position: relative;
    padding: 0 0 0 25px;
}

.post-comments:before {
    color: #000;
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: -4px;
    left: 0;
}
*/

/* Biography */
.biography-image {
    margin-bottom: 2rem;
}

/* Featured posts */
ul.featured-posts {
    list-style: none;
    margin: 0;
}

ul.featured-posts > li {
    border-bottom: 1px dotted #eee;
    padding: 10px 0 10px 0;
    margin: 0;
}

.featured-post-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin: 0 0 1rem 0;
}

.featured-post-title a:link, 
.featured-post-title a:visited, 
.featured-post-title a:active, 
.featured-post-title a:focus {
    
}

.featured-post-title a:hover {
    border: none;
    padding-bottom: 0;
}

.featured-post-date {
    color: #666;
    font-size: 1.8rem;
}

.featured-post-category {
    color: #666;
    font-size: 1.8rem;
    margin-left: 10px;
}

.featured-post-category a:link, 
.featured-post-category a:visited, 
.featured-post-category a:active, 
.featured-post-category a:focus {
    
}

.featured-post-category a:hover {
    
}

/* Categories */
ul.categories {
    list-style: none;
    margin: 0;
}

ul.categories > li {
    border-bottom: 1px dotted #eee;
    padding: 5px 0 10px 0;
    margin: 0 0 10px 0;
}

.categories a:link, 
.categories a:visited, 
.categories a:active, 
.categories a:focus {
    font: normal 500 2rem/3rem 'Roboto', Arial, sans-serif;
}

.categories a:hover {
    border: none;
    padding-bottom: 0;
}

/* Footer */
footer {
    background: #204a84;
    padding: 60px 0 40px 0;
}

footer ul.copyrightinfo {
    list-style: none;
    margin-top: 10px;
}

footer ul.copyrightinfo > li {
    border-right: 1px solid #fff;
    color: #fff;
    float: left;
    font-weight: 400;
    line-height: 2.8rem;
    margin: 20px 15px 0;
    padding-right: 20px;
}

@media only screen and (min-width: 1200px) {
    footer ul.copyrightinfo > li {
        margin: 0 15px 0;
    }
}

footer ul.copyrightinfo > li:last-child {
    border: none;
}

footer ul.social-media-navigation {
    list-style: none;
    margin-top: 10px;
}

footer ul.social-media-navigation > li {
    float: left;
}

@media only screen and (min-width: 1200px) {
    footer ul.social-media-navigation {
        margin-top: -12px;
    }
}

/* Buttons */
.btn {
    background: #204a84 !important;
    border: none !important;
    border-radius: 2px;
    color: #fff !important;
    display: inline-table;
    font-family: 'Libre Franklin', Arial, sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    line-height: 2.6rem;
    padding: 10px 20px 10px 20px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

.btn:hover {
    background: #000 !important;
}
